*.iml
*.ipr
*.iws
.idea/
frontend/idea
frontend/staticweb/css
frontend/staticweb/prepros.cfg
/node_modules/

src/main/webapp/WEB-INF/Gruntfile1.js
src/main/webapp/WEB-INF/package.json
.git/
.gradle
*.class
build/*.class
lib/xserver.jar
lib/xServer.jar
jettyRun.bat
frontend/staticweb/less/*.map
frontend/staticweb/less/prepros.cfg
/out
/logs
*.DS_Store
/build/*
classes
/build/
/*.log
*.log
*.log
